.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Effetti/Animazioni */
.ex-1-square:hover {
    background-color: red;
}
.ex-1-square {
    transition: background-color 1s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}
.ex-2-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
.ex-3-square {
    transition: 1s;
}

.ex-4-square:hover {
    background-color: transparent;
}
.ex-4-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}
.ex-5-square {
    transition: 1s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: sepia(0.7) grayscale(0.5);
}
.ex-7-img {
    transition: 1s;
}

.ex-8-img:hover {
    filter: sepia(0.7) grayscale(0.4);
    border-radius: 20px;
}
.ex-8-img {
    transition: 1s;
}

.ex-9-img:hover {
    filter: sepia(0.7) grayscale(0.4);
    border-radius: 20px;
    transform: scale(1.5);
}
.ex-9-img {
    transition: 1.5s;
}

.ex-10-icon {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover {
    animation-name: spin;
    animation-duration: 1s;
}
@keyframes spin {
    0% {
        transform: rotate(0turn);
    }
    75% {
        transform: rotate(0.8turn);
    }
    100% {
        transform: rotate(0turn);
    }
}
    
.ex-12-button:hover .ex-12-top-white {
    animation-name: animationtop;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
@keyframes animationtop {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 70%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation-name: animationbottom;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
@keyframes animationbottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 70%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: spintop;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes spintop {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: 90%;
    }
    50% {
        top: 60px;
        left: 90%;
    }
    75% {
        top: 60px;
        left: -10%;
    }
    90% {
        top: -10px;
        left: -10%;
    }
    100% {
        top: -10px;
        left: 10%;
    }

}
.ex-13-button:hover .ex-13-bottom-white {
    animation-name: spinbottom;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes spinbottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    25% {
        bottom: -10px;
        right: 90%;
    }
    50% {
        bottom: 60px;
        right: 90%;
    }
    75% {
        bottom: 60px;
        right: -10%;
    }
    90% {
        bottom: -10%;
        right: -10%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
